[data-theme='dark'] .feature > * {
    border: 2px solid #3b3e4f;
}

[data-theme='light'] .feature > * {
    border: 2px solid #3b3e4f32;
    color: #2b3137;
    --ifm-card-background-color: #3b3e4f07;
}

[data-theme='dark'] .feature > *:hover {
    color: white;
    border: 2px solid rgb(131, 24, 67, 0.7);
    --ifm-card-background-color: rgba(131, 24, 67, 0.1);
}
  
[data-theme='light'] .feature > *:hover {
    color: black;
    border: 2px solid rgb(131, 24, 67, 0.7);
    --ifm-card-background-color: rgba(131, 24, 67, 0.1);
}