[data-theme='dark'] .feature > * {
    border: 2px solid rgb(from var(--ifm-color-primary-lighter) r g b / 0.1);
}

[data-theme='light'] .feature > * {
    border: 2px solid rgb(from var(--ifm-color-primary-lighter) r g b / 0.1);
    color: #2b3137;
    --ifm-card-background-color: rgb(from var(--ifm-color-primary-lightest) r g b / 0.05);
}

[data-theme='dark'] .feature > *:hover {
    color: white;
    border: 2px solid rgb(from var(--ifm-color-primary-lighter) r g b / 0.7);
    --ifm-card-background-color: rgb(from var(--ifm-color-primary-lighter) r g b / 0.15);
}
  
[data-theme='light'] .feature > *:hover {
    color: black;
    border: 2px solid rgb(from var(--ifm-color-primary-lighter) r g b / 0.6);
    --ifm-card-background-color: rgb(from var(--ifm-color-primary-lighter) r g b / 0.1);
}

.featuresSection {
    margin: 4rem 0;
}

.featuresSection > :global(.col) > * {
    margin-bottom: 2rem;
}
  
@media (max-width: 996px) {
    .featuresSection > :global(.col:last-child) > *:last-child {
        margin-bottom: 0;
    }
}
  
@media (min-width: 997px) {
    .featuresSection > :global(.col) > *:last-child {
      margin-bottom: 0;
    }
}