.heroBanner {
    background-color: #2b3137;
    padding: 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroBannerTitle {
  color: #fff;
  font-size: 3.5rem;
}

.heroBannerSubtitle {
  color: rgb(209, 213, 219);
  font-size: 1.5rem;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

